<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% user.avatars.each do |avatar| %>
    <%#= hidden_field :user, :avatars, multiple: true, value: avatar.identifier %>
  <% end %>
  <%= form.file_field :avatars, multiple: true %><br>
  <div class="actions"><br>
    <%= form.submit 'Save'%>
  </div>
<% end %>
